<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Task</title>
    <link th:href="@{/css/create-task.css}" rel="stylesheet" />

</head>
<body>
<h1>Create Task</h1>
<form th:action="@{|/tasks/${userId}|}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" th:value="${task.name}"/><br/>
    <label for="description">Description:</label>
    <textarea id="description" name="description" th:text="${task.description}"></textarea><br/>
    <label for="deadline">Deadline:</label>
    <input type="datetime-local" id="deadline" name="deadline" th:value="${task.deadline}"/><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{|/tasks/${userId}|}">Back to Tasks</a>
</body>
</html>
